<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cubix.alaspurwo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:noHistory="true"
            android:theme="@style/fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/noActionBar" />
        <activity
            android:name=".MenuUtamaActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/noActionBar" />
        <activity android:name=".AdapterHutanActivity" />
        <activity
            android:name=".DaftarTumbuhanActivity"
            android:parentActivityName=".DeskripsiActivity"
            android:theme="@style/noActionBar" />
        <activity android:name=".AdapterTumbuhanActivity" />
        <activity
            android:name=".TanamanActivity"
            android:parentActivityName=".DaftarTumbuhanActivity"
            android:theme="@style/noActionBar" />
        <activity
            android:name=".SplashScreen2Activity"
            android:noHistory="true"
            android:theme="@style/fullscreen" />
        <activity
            android:name=".ProfilActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/noActionBar" />
        <activity
            android:name=".TentangActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/noActionBar" />
        <activity
            android:name=".BantuanActivity"
            android:noHistory="true"
            android:theme="@style/noActionBar" />
        <activity
            android:name=".DeskripsiActivity"
            android:parentActivityName=".MenuUtamaActivity"
            android:theme="@style/noActionBar" />
        <activity
            android:name=".IsiDeskripsiActivity"
            android:parentActivityName=".DeskripsiActivity"
            android:theme="@style/noActionBar" />
        <activity android:name=".DetailTanamanActivity"
            android:parentActivityName=".DeskripsiActivity"
            android:theme="@style/noActionBar" />
    </application>

</manifest>